@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: linear-gradient(to right, #294B29, #50623A, #789461, #DBE7C9);
  opacity: .6;
  z-index: 2;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register{
  max-width: 978px;
  width: 100vw;
  display:flex;
  border: 1px solid #50623A;
  border-radius: 5px;
  background-color: #DBE7C9;
  position: relative;
  z-index: 3;
}

.register span{
  color: #789461;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #50623A;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #294B29;
  color: #DBE7C9;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}

